
.headers {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0,0.3)),url("assets/img/bg-coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-top: 0px;
  min-height: 850px;
  height: 350px;
  font-family: 'Montserrat', sans-serif;
  .img-logo{
    height: 110px;
  }
}
.intro {
  color: #000;
}
.content{
  min-height: 2500px;
}
.left{
  float:left;
  width:50%;
}
.right{
  float:right;
  width:50%;
}
.adjust{

	padding-top: 20px;

}
.mt{
  margin-top:229px;
}
.titleadjust{
  padding-top: 100px;
  font-size: 100px;
}
.subtitleadjust{
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}
.rowadjust{
  margin-top: 30px;
}
.kaushan{
  font-family: 'Kaushan Script', cursive;
}
.footerbox{
  height:200px;
  color:white;
  background: #000000; 
  background: -webkit-linear-gradient(to left, #000000 , #434343); 
  background: linear-gradient(to left, #000000 , #434343); 
}
.socialmedia{
  height: 500px
}
.subscribe{
 /* background: #403B4A;
  background: -webkit-linear-gradient(to left, #403B4A , #E7E9BB);
  background: linear-gradient(to left, #403B4A , #E7E9BB);*/
}
@font-face{
  font-family: 'Kaushan Script', cursive;
  src : url("fonts/KaushanScript-regular.ttf")
}
.navbar-color{
	background-color: transparent;
}
.btn-adjust{
	margin-top: 10px;
}
.btn-center{
  margin-top: 50px;
  margin-left: 190px;
  margin-bottom: 30px;
}
.lbl-adjust{
  margin-top: 30px;
}
.img-adjust{
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
}
.lbl-color{
  color:#17202A;
}
a{
  text-decoration: none;
}
.text-bold{
  font-weight: bold;
  font-family: sans-serif;
  font-size:18px;
}

.btn-custom {  
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
 }
 .img-resize{
  width: 570px;
  height: 380px;
 }
.btn-custom:hover {
   background-color: #000;
   border-color: #fff;
   color: #333333;
}
.space{
  margin-bottom: 50px;
}
.img-adjust2{
  padding-left:50px;
}
.resizedtextarea{
  width: 500px; height: 20px
}
.tipsandtrick {
  background-color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 50px;
}
.marginbottom{
  margin-bottom: 50px;
}
.margintop{
  margin-top:150px;
}

.mt-50 {
  margin-top: 50px;
}

.btn-bdr {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
}